<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xdl.web.common.mapper.EmployeeMapper">

    <select id="findAll" resultType="org.xdl.web.common.entity.Employee">
        select * from employee
    </select>

    <select id="selectByIdForUpdate" resultType="org.xdl.web.common.entity.Employee">
        select * from employee
        where id = #{id,jdbcType=BIGINT}
        for update
    </select>

    <update id="updateCount">
        update employee
        <set>
            count = #{count}
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
